@font-face {
  font-family: 'SF UI Display';
  src: local('SF UI Display'),
        url(../fonts/SF-UI-Display.woff) format('woff'),
        url(../fonts/SF-UI-Display.woff2) format('woff2'),
        url(../fonts/SF-UI-Display.ttf) format('truetype');
}