.image {
  &:hover {
    opacity: 0.7;
    transition: 0.3s all;
    filter: grayscale(100%);
  }
}

.img-fluid-h {
  max-height: 100%;
  width: auto;
}

.react-multi-carousel-dot {
  &.react-multi-carousel-dot--active {
    button {
      width: 1.2rem;
      height: 1.2rem;
      background-color: $color-4;
      border-color: #{$color-4}40 !important;
    }
  }

  button {
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: $color-0;
    border-color: #{$color-4}40 !important;
  }
}

.navbar-navigation {
  padding: 1.5rem 0;
  box-shadow: 5px 5px 15px #3939391a;
  background-color: $color-1;

  &-link-spacing {
    width: 50%;
    justify-content: space-between;
    font-family: $default-font-family;
    font-weight: 300;
  }

  .navbar-toggler {
    @extend .mr-3;
  }

  .navbar-collapse {
    @extend .justify-content-sm-start;
    @extend .justify-content-lg-end;

    .navbar-navigation-link-spacing {
      .nav-link {
        color: darken($default-font-color, 10%);

        &:hover {
          color: lighten($default-font-color, 15%);
        }
      }
    }
  }
}

.image-overlay {
  transition: 0.5s ease;
  position: absolute;
  text-align: left;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.load-more-btn {
  @extend .mt-4;

  height: fit-content;
  width: fit-content;
  border: unset;
  background: transparent;
  color: $default-font-color;
  font-family: $default-font-family;
  font-size: 30px;
}

.header-headline {
  color: $color-1 !important;
  letter-spacing: 7px;
}

.footer {
  @extend .def-h-footer;

  position: static;
  width: 100vw;
  top: 0;
  left: 0;

  &-link-text {
    font-family: $default-font-family;
    font-weight: 500;
  }

  &-nav-link-text {
    text-decoration: none;
    color: $default-font-color;

    &:link {
      color: $default-font-color;
    }

    &:hover {
      color: $color-4;
    }
  }

  &-copyright {
    font-weight: 300;
    font-family: $default-font-family;
    color: gray;
    font-size: small;
  }
}

.promotion-brochure {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: $promotion-brochure-title-font-weight;
  padding: 40px 0;
  font-family: $default-font-family;

  &-headline-text {
    @extend .ml-1;
    @extend .mr-1;

    color: darken($color-5, 5%);
    text-align: center;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: $promotion-brochure-title-font-weight;
  }

  &-download-btn {
    @extend .mt-4;

    width: fit-content;
    background-color: $color-secondary;
    border-radius: 0;
    border: none;
    color: $color-5;
    font-size: 1.3rem;
    font-weight: $promotion-brochure-title-font-weight;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 10px $color-secondary;

    &:hover {
      transition: 0.3s all;
      text-decoration: unset;
      color: lighten($color-5, 5%);
      background-color: lighten($color-secondary, 5%);
      box-shadow: 1px 1px 10px lighten($color-secondary, 5%);
    }

    &:focus {
      color: lighten($color-5, 10%);
      text-decoration: none;
      background-color: lighten($color-secondary, 10%);
      box-shadow: 5px 5px 10px lighten($color-secondary, 10%);
    }
  }
}

.social-media-shared {
  .carousel {
    height: 100%;

    .react-multi-carousel-list {
      height: 100%;

      .react-multi-carousel-track {
        @extend .pb-5;

        .react-multi-carousel-item {
          @extend .px-0;
          @extend .px-md-2;

          cursor: grab;

          a {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            cursor: grab;

            .image {
              @extend .image-slide;
              @extend .img-fluid;

              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &-text {
    font-weight: 600;
    font-family: $default-font-family;
    font-size: 1.55rem;
  }

  .icon {
    color: $default-font-color;

    &:hover {
      color: $color-item;
      transition: 0.3s all;
    }

    @media screen and (min-width: $layout-desktop) {
      width: 2.75rem;
      height: auto;
    }

    @media screen and (max-width: $layout-mobile) {
      width: 2rem;
      height: auto;
    }
  }

  &-list {
    @extend .py-2;

    display: flex;
    justify-content: center;

    div {
      @extend .mx-4;

      display: flex;
      justify-content: center;

      .item {
        border: 1px solid;
        border-color: $color-5;
        border-radius: 50%;
        padding: 1.5rem;

        &:hover {
          border-color: $color-item;

          .icon {
            color: $color-item;
            transition: 0.3s all;
          }
        }
      }
    }
  }
}

.merchandise {
  @extend .px-4;
  @extend .pb-5;

  width: 100%;

  &-name {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &-carousel-item {
  }

  &-image {
    @extend .img-fluid;
    @extend .image-slide;
  }

  .description {
    @extend .align-self-baseline;
    @extend .p-0;

    color: $default-font-color;
    height: 100%;

    &.name {
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }

    &.text {
      font-size: 1.5rem;
      text-align: justify;
      margin-right: 1.5rem;
    }
  }

  &-carousel {
    height: 100%;
    background-color: $color-1;

    .react-multi-carousel-list {
      height: 100%;

      .react-multi-carousel-track {
        @extend .pb-5;

        .react-multi-carousel-item {
          @extend .px-1;
          @extend .px-md-4;

          .tile {
            @extend .image-slide;

            padding: 0;
            cursor: grab;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            height: 100%;

            &.odd {
              @extend .pt-0;
              @extend .pt-md-5;
            }

            &:hover > .merchandise-name {
              color: $default-font-color !important;
            }
          }
        }
      }
    }
  }
}

.about-us-content {
  font-family: $default-font-family;
  color: $default-font-color;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 2px;
  margin-bottom: 1.5em;

  @media (max-width: $layout-mobile) {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @media screen and (min-width: $layout-tablet) and (min-width: $layout-desktop) {
    text-align: center;
  }
}

.carousel-container {
  @extend .pb-5;

  width: 100%;
  height: 100%;

  .react-multi-carousel-item {
    cursor: grab;

    div {
      @extend .image-slide;

      a {
        text-decoration: unset;
        color: unset;

        img {
          @extend .image-slide;
        }
      }
    }
  }
}

.carousel-arrow-button-group {
  position: absolute;
  bottom: 0;
  right: 0;

  @media screen and (max-width: $layout-mobile) {
    left: 40%;
  }

  &-arrow-button {
    background-color: transparent !important;
    border: none;

    &-arrow {
      color: black;
    }
  }
}

.mobile-footer {
  @media screen and (max-width: $layout-mobile) {
    width: 100%;
    text-align: center;
  }
}

.image-slide {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.jumbotron-image {
  @extend .background-contain;

  padding: 0;
  margin: 0;
  height: 93vh;
  opacity: 0.9;
  background-position: center;

  @media (max-width: $layout-mobile) {
    height: 100%;
  }
}

.jumbotron {
  background-color: $color-1 !important;
}

.page-jumbotron {
  background-size: cover !important;
  height: 100vh !important;
}

.tile-image {
  @extend .background-contain;

  height: 21.875rem;
  width: 100%;
  opacity: 0.9;
  background-position: center;

  @media (max-width: $layout-desktop) {
    height: 10.5rem;
  }

  @media (max-width: $layout-tablet) {
    height: 18rem;
  }

  @media (max-width: $layout-mobile) {
    height: 16rem;
  }
}

.header-title {
  font-family: $default-font-family;
  color: $default-font-color;
  font-weight: $home-header-title-font-weight;
  font-size: $home-header-title-font-size;
}

.header-subtitle {
  font-family: $default-font-family;
  color: $default-font-color;
  font-weight: $home-header-subtitle-font-weight;
  font-size: $home-header-subtitle-font-size;
}

@media (min-width: $layout-x-desktop) {
  .header-title {
    font-size: calc(#{$home-header-title-font-size} + 0.6rem);
  }

  .header-subtitle {
    font-size: calc(#{$home-header-subtitle-font-size} + 0.4rem);
  }
}

@media (max-width: $layout-tablet) {
  .header-title {
    font-size: calc(#{$home-header-title-font-size} - 1rem);
    letter-spacing: 0.2rem;
  }

  .header-subtitle {
    font-size: calc(#{$home-header-subtitle-font-size} - 0.75rem);
    letter-spacing: 0.1rem;
  }
}

@media (max-width: $layout-mobile) {
  .header-title {
    font-size: calc(#{$home-header-title-font-size} - 2rem);
    letter-spacing: 0.05rem;
  }

  .header-subtitle {
    font-size: calc(#{$home-header-subtitle-font-size} - 1.25rem);
    letter-spacing: 0.055rem;
  }
}

.back-button {
  box-shadow: 5px 5px 15px #3939391a;
  border-radius: 5px;
  background-color: $color-1;
  border: none;
  color: $default-font-color;

  @media screen and (max-width: $layout-tablet) {
    left: 10%;
    top: 85%;
  }

  @media screen and (min-width: $layout-tablet) and (max-width: $layout-desktop) {
    left: 10%;
    top: 60%;
  }

  @media screen and (min-width: $layout-desktop) {
    left: 10%;
    top: 90%;
  }

  &:hover {
    color: $color-1;
    background-color: $color-primary;
    transition: 0.3s all;
  }
}
