.blog-tile {
  @extend .p-0;
  width: 100%;
  transition: ease-in 1.5s;
  display: flex;
  align-items: stretch;
  border: 0.1px solid;
  border-color: #{$color-2}30;
  border-radius: 0.1rem;
  background-color: #{$color-2}30;

  &-label {
    background-color: #{$color-1}40;
    @extend .p-2;
    border-radius: 0.5rem;
    max-width: 80%;

    @media (max-width: $layout-tablet) {
      max-width: 90%;
    }
  }

  &-content {
    @extend .pr-2;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: $default-font-family;
    color: $default-font-color;
    text-align: right;

    &-title {
      font-size: $blog-tile-title-font-size;
      font-weight: $blog-tile-title-font-weight;
    }

    &-subtitle {
      font-size: $blog-tile-subtitle-font-size;
      font-weight: $blog-tile-subtitle-font-weight;
    }
  }
}

.blog-brief {
  @extend .font-size-large;
  color: $default-font-color;
  font-family: $default-font-family;
  text-align: center;
}

.blog-contents {
  @extend .pt-3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  font-family: $default-font-family;

  &-text {
    @extend .pb-3;
    height: fit-content;
    width: fit-content;
    font-size: $blog-content-font-size;
    color: $default-font-color;
    text-align: $blog-content-text-align;
    line-height: $blog-content-line-height;
  }

  &-image {
    @extend .img-fluid;
    @extend .pb-3;
    object-fit: contain;
  }
}

.text-content {
  padding-bottom: 1.5rem;
  height: fit-content;
  width: fit-content;
  font-family: $default-font-family;
  font-size: $blog-content-font-size;
  color: $default-font-color;
  text-align: $blog-content-text-align;
  line-height: $blog-content-line-height;
}