.form-label {
  display: flex;
  align-items: center;
  font-family: $default-font-family;
  font-weight: 500;
  font-size: 1.5rem;
  color: $default-font-color;
}

.sub-head-form {
  text-align: justify;
  font-family: $default-font-family;
  font-weight: 500;
  font-size: 1rem;
  color: $default-font-color;
}

.contact-headline{

  color: $default-font-color;
  letter-spacing: 7px;
  font-family: $default-font-family;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;

  a {
    color: $default-font-color;
  }

  a:hover {
    cursor: pointer;
    color: #afafaf;
    text-decoration: none;
    transition: .3s all;
  }
}

.btn-submit {
  height: fit-content;
  font-size: 1.25rem;
  padding: 0.5rem;
}