.def-font-family {
  font-family: $default-font-family;
}

.def-font-color {
  color: $default-font-color;
}

.def-h-content {
  min-height: $default-content-height;
}

.def-h-footer {
  max-height: $default-footer-height;
}