.home {
  justify-content: center;

  .intro-section {
    @extend .px-4;
    @extend .mb-5;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: $default-font-family;
    text-align: center;
    background-color: $color-1;
  }

  .blog-section {
    background-color: $color-1;
  }

  .carousel {
    padding: 0;

    .react-multi-carousel-list {
      .react-multi-carousel-track {
        .react-multi-carousel-item {
          height: auto;

          .header {
            .image {
              @extend .image-slide;
              max-width: 100%;
              max-height: 100%;
              width: auto;
            }

            .headline {
              display: flex;
              flex-direction: column;
              max-width: 55%;
              height: 100%;
              justify-content: center;
              align-items: flex-start;
              padding: 0 1rem;

              @media (max-width: $layout-tablet) {
                max-width: 90%;
              }

              a {
                width: 100%;
                background-color: #{$color-2}60;
                color: $color-1;
                @extend .p-2;
                border-radius: 0.5rem;
                text-decoration: unset;

                .title {
                  @extend .header-title;

                  border-bottom: 1px solid;
                  border-color: $default-font-color;
                  padding: 0.5rem;

                  display: flex;
                  align-items: baseline;
                  letter-spacing: 0.4rem;
                }

                .subtitle {
                  @extend .header-subtitle;
                  @extend .mx-4;

                  letter-spacing: 0.2rem;
                }

                h3 {
                  line-height: 0;
                }

                .arrow-button {
                  @extend .ml-5;

                  width: 2rem;
                  height: 2rem;
                  color: $default-font-color;
                }

                @media (max-width: $layout-tablet) {
                  .arrow-button {
                    width: 1.1rem;
                    height: 1.1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .carousel-button-group {
    @extend .my-3;
    position: relative;
    width: 100%;
    display: flex;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .react-multi-carousel-dot-list {
        right: unset;
        position: relative;
      }

      .carousel-arrow-button-group {
        position: relative;
        background-color: #{$color-2}40;
        border-radius: 0.5rem;
        .arrow-button {
          background-color: transparent !important;
          border: none;
          &:focus {
            outline: none;
            box-shadow: none;
          }

          .arrow {
            color: black;
          }
        }
      }
    }
  }
}
