.location-preview {
  @extend .my-5;

  font-family: $default-font-family;
  color: $default-font-color;

  .title {
    letter-spacing: 7px;
    font-weight: bold;
    font-size: 2rem;
  }

  .item {
    @extend .mb-4;
    @extend .mb-md-0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;

    a {
      @extend .mb-2;
      height: 27rem;
      background-color: $color-1;
      display: flex;

      .image {
        @extend .img-fluid;

        align-self: center;
        justify-self: center;
        max-height: 27rem;
      }
    }

    .title {
      letter-spacing: 0.2rem;
      font-weight: bold;
      font-size: 1.5rem;
      color: $default-font-color;
    }
  }
}

.location-content {
  font-family: $default-font-family;
  color: $default-font-color;

  &-image-section {
    height: 100%;
    background-color: $color-1;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      @extend .img-fluid;
    }
  }

  &-main-map-img {
    align-items: center;
    justify-content: center;
  }

  &-address-detail {
    font-weight: 400;
    line-height: 1.6;
    color: $default-font-color;
    font-size: 1.25rem;
  }

  &-header-text {
    color: $default-font-color;
    font-weight: bold;
  }

  &-map {
    border: 0;
    min-height: -webkit-fill-available;
    min-width: -webkit-fill-available;
  }
}
