.product-category-pills {
  font-family: $default-font-family;
  text-decoration: none;
  width: 100%;
  overflow: auto;
  white-space: nowrap;

  a {
    @extend .px-4;
    @extend .pb-sm-3;

    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-3;
    text-transform: capitalize;
    transition: 0.3s all;

    &.active {
      color: darken($color-secondary, 30%);
      background-color: transparent;

      &::after {
        @extend .pt-2;

        content: '';
        display: block;
        margin: 0 auto;
        width: 80%;
        border-bottom: 3px solid $color-secondary;
      }

      &:hover {
        color: $color-secondary;
      }
    }
  }

  a:hover {
    color: $color-5;
  }
}

.product-preview {
  @extend .pt-4;

  .react-multi-carousel-list {
    height: 100%;
    width: 100%;

    .react-multi-carousel-track {
      @extend .pb-5;

      .react-multi-carousel-item {
        .item {
          width: 100%;
          height: 100%;
          padding: 1rem;

          @extend .image-slide;

          color: $default-font-color;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          a {
            display: flex;
            height: fit-content;
            background-color: $color-1;
            justify-content: center;
            align-items: center;
            height: 15rem;

            .image {
              @extend .img-fluid;
              @extend .mb-2;

              max-height: 15rem;
            }
          }

          .text {
            @extend .mt-3;

            .name {
              font-weight: bold;
              font-size: 1.5rem;
            }

            .price {
              font-size: 1.5rem;
            }
          }
        }

        @media (max-width: $layout-desktop) {
          .image {
            height: 28vh !important;
          }
        }

        @media (max-width: $layout-tablet) {
          .image {
            height: 35vh !important;
          }
        }

        @media (max-width: $layout-mobile) {
          .image {
            height: 40vh !important;
          }
        }
      }
    }
  }
}

.product-content {
  .detail {
    @extend .mt-4;
    @extend .mt-lg-0;
    @extend .mt-md-0;
    @extend .mt-sm-0;

    font-family: $default-font-family;
    color: $default-font-color;

    .name-price {
      font-weight: 600;
      font-size: 2rem;
    }

    .description {
      text-align: justify;
      font-size: $blog-content-font-size;
    }
  }

  .preview {
    .image-container {
      .main-image-col {
        display: flex;
        height: 30rem;
        justify-content: center;
        align-items: center;

        .main-image {
          @extend .img-fluid;

          max-height: 30rem;
        }
      }

      .image-col {
        @extend .mt-4;

        .card-body {
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
          background-color: #{$color-2}40;
          min-height: 8rem;

          .image {
            @extend .img-fluid;

            cursor: pointer;
            max-width: 6rem;
            max-height: 8rem;
          }
        }
      }
    }
  }
}

.custom-button-group {
  &-preview {
    top: 50%;
  }

  &-content {
    top: 70%;
  }
}

.relate-product {
  &-headline {
    font-family: $default-font-family;
    color: $default-font-color;
    letter-spacing: 7px;
    font-weight: 600;
    font-size: 2rem;

    @include media-breakpoint-down(sm) {
      letter-spacing: 4px;
      font-size: 1.5rem;
    }
  }

  &-item {
    @extend .mx-4;

    color: $default-font-color;

    &-text {
      @extend .pt-3;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &-name {
      text-decoration: unset;
      font-weight: bold;
      font-size: 1.5rem;
    }

    &-price {
      text-decoration: unset;
      font-size: 1.5rem;
    }
  }
}
