// Color Palette
$color-0: #fbfbfb;
$color-1: #f8f8ff;
$color-2: #dfdfe5;
$color-3: #acacac;
$color-4: #868686;
$color-5: #181819;

$color-primary: #93B1D1;
$color-secondary: #b7926a;
// $color-item: #5494DD;
$color-item: #B9A0B7;

$default-font-color: $color-5;

// Global Defaults
$default-font-family: 'SF UI Display';

$default-content-height: 77vh;
$default-footer-height: calc(100% - #{$default-content-height});

// Blog Tile Defaults
$blog-tile-title-font-size: 1.7rem;
$blog-tile-title-font-weight: bold;

$blog-tile-subtitle-font-size: 1.5rem;
$blog-tile-subtitle-font-weight: normal;

// Blog Content Defaults
$blog-content-title-line-height: 2rem;

$blog-content-text-align: center;
$blog-content-font-size: 1.2rem;

$blog-content-line-height: 1.5rem;

// Promotion Brochures Defaults
$promotion-brochure-title-font-weight: bold;

// Merchandise Items
$merchandise-image-height-desktop: 18rem;
$merchandise-image-height-mobile: 15rem;
$merchandise-image-height-tablet: 22rem;
$merchandise-image-height-x-mobile: 19.8rem;

//Home Header Defaults
$home-header-title-font-weight: bolder;
$home-header-title-font-size: 3.5rem;

$home-header-subtitle-font-weight: lighter;
$home-header-subtitle-font-size: 2.4rem;

// Breakpoint
$layout-x-mobile: 575px;
$layout-mobile: 767px;
$layout-tablet: 1023px;
$layout-desktop: 1365px;
$layout-x-desktop: 1599px;

// Blog Tile Defaults
$blog-tile-title-font-size: 1.7rem;
$blog-tile-title-font-weight: bold;

$blog-tile-subtitle-font-size: 1.5rem;
$blog-tile-subtitle-font-weight: normal;

// Blog Content Defaults
$blog-content-title-line-height: 2rem;

$blog-content-text-align: center;
$blog-content-font-size: 1.2rem;

$blog-content-line-height: 1.5rem;

// Promotion Brochures Defaults
$promotion-brochure-title-font-weight: bold;

// Merchandise Items
$merchandise-image-height-desktop: 18rem;
$merchandise-image-height-mobile: 15rem;
$merchandise-image-height-tablet: 22rem;
$merchandise-image-height-x-mobile: 19.8rem;

//Home Header Defaults
$home-header-title-font-weight: bolder;
$home-header-title-font-size: 3.5rem;

$home-header-subtitle-font-weight: lighter;
$home-header-subtitle-font-size: 2.4rem;

// Breakpoint
$layout-x-mobile: 575px;
$layout-mobile: 767px;
$layout-tablet: 1023px;
$layout-desktop: 1365px;
$layout-x-desktop: 1599px;
