//  ------------------------------
//    Colors
//  ------------------------------
$body-color: #626262;

$pure-black: #000;
$nav-component-border-color: #ddd;
$custom-border-color: #e4e7ed;
$chip-bg-color: #f0f0f0;
$chip-avatar-bg: #c3c3c3;
$swiper-bg: #f2f4f4;
$hover-color: #eee;

// stylelint-disable
$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
        (
            0: 0,
            25: (
                $spacer * 0.25
            ),
            50: (
                $spacer * 0.5
            ),
            75: (
                $spacer * 0.75
            ),
            1: (
                $spacer
            ),
            2: (
                $spacer * 1.5
            ),
            3: (
                $spacer * 3
            ),
            4: (
                $spacer * 3.5
            ),
            5: (
                $spacer * 4
            )
        ),
        $spacers
);

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Montserrat", Helvetica, Arial, serif;
$font-family-monospace: "Montserrat", Helvetica, Arial, serif;

// stylelint-enable value-keyword-case
$font-size-base: 1rem;
$font-size-sm: ceil($font-size-base * 0.85);
$font-size-lg: ceil($font-size-base * 1.25);

$line-height-base: 1.45;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.74;
$h3-font-size: $font-size-base * 1.51;
$h4-font-size: $font-size-base * 1.32;
$h5-font-size: $font-size-base * 1.14;

$headings-margin-bottom: ($spacer / 2);
$headings-font-family: inherit;
$headings-font-weight: 500;

$headings-color: #2c2c2c;

$small-font-size: smaller;

$base-font-size: 14px;
$content-padding: 2.2rem;

//  -------------------------------
//  Form
//  -------------------------------

// $input-height, $input-height-lg, $input-height-sm are in variables
$font-size-xs: 0.75rem;
$font-size-xl: ($font-size-base + 0.5);
$line-height-xl: 1.7;
$line-height-xs: 1.5;
$line-height-lg: 1.25;
$line-height-sm: 1;

.font-size-large {
    font-size: $font-size-lg;
}

.font-size-base {
    font-size: $font-size-base;
}

.font-size-small {
    font-size: $font-size-sm;
}

.font-size-xsmall {
    font-size: $font-size-xs;
}
