main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: $color-1;
}

.fallback-spinner {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-fallback {
  opacity: 0.5;
  z-index: 999;
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-contain {
  background-size: contain;
  background-repeat: repeat;
}
